* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    font-family: sans-serif;
    text-align: center;
}

header h1 {
    padding: 30px 0 20px 0;
}

.part {
    border: 1px solid black;
    height: auto;
    width: 80%;
    max-width: 900px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 20px;
}

.part h2 {
    padding-bottom: 20px;
}

#opera,
#beau,
#dark,
#sunray,
#fogra {
    display: inline-block;
    padding: 30px;
    border-radius: 20px;
    margin: 5px 2.5px;
    width: 300px;
    list-style: none;
}

#opera {
    background-color: #c884a6;
    color: white;
}
#beau {
    background-color: #d6eeff;
}
#dark {
    background-color: #56638a;
    color: white;
}
#sunray {
    background-color: #eaba6b;
}
#fogra {
    background-color: #001011;
    color: white;
}

li {
    line-height: 1.5;
}

/* FONTS */

h3 {
    padding: 20px 0;
}

.part p {
    line-height: 1.5;
    font-size: 18px;
}

.syne {
    font-family: 'Syne', sans-serif;
}

.acme {
    font-family: 'Acme', sans-serif;
}

/* TEXT STYLES */

ul.heading-example,
ul.paragraph-example,
ul.extra-example {
    margin: 20px 0;
    list-style: none;
}

ul.extra-example {
    margin-bottom: 0px !important;
}

h1.heading-example {
    font-weight: 800;
    font-size: 30px;
    font-family: 'Syne';
}

p.paragraph-example {
    font-weight: 400;
    font-size: 18px;
    font-family: 'Syne';
}

p.extra-example {
    font-weight: 400;
    font-size: 15px;
    font-family: 'Acme';
}